p {
  margin: 0;
}

.cart-container {
  display: flex;
  flex-direction: column;
  margin: 3em 5em;
}

.cart-empty {
  font-size: 1.2rem;
  text-align: center;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 1em 2em;
  border-bottom: 1px solid gray;
}

.delete-icon {
  font-size: 1.3rem;
  margin-right: 0.7em;
  cursor: pointer;
}

.photo-thumbnail {
  width: 10%;
}

.photo-thumbnail > img {
  width: 100%;
}

.price {
  font-size: 1.4rem;
  margin-left: auto;
}

.total {
  font-size: 1.7rem;
  margin-top: 0.7em;
  margin-left: auto;
}

.total-sum {
  margin: 0 1em;
}
