* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #f4bb53;
}

.page-link {
  color: #ffffff;
  font-size: 2rem;
  text-decoration: none;
}

.cart-icon-header {
  font-size: 2.5rem;
  position: relative;
}

.photos-container {
  height: 80vh;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.photo {
  width: 15%;
  height: 20%;
  position: relative;
}

.photo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heart-icon,
.cart-icon {
  display: none;
  font-size: 1.5rem;
  position: absolute;
  top: 8px;
  cursor: pointer;
}

.heart-icon {
  left: 8px;
  color: #ff0000;
}

.heart-icon.ri-heart-fill,
.cart-icon.ri-shopping-cart-2-fill {
  display: block;
}

.cart-icon {
  right: 8px;
  color: #04ff04;
}

.photo:hover .heart-icon,
.photo:hover .cart-icon {
  display: block;
}

.cart-items-count {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: #000000;
}
