* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #f4bb53;
}

.page-link {
  color: #ffffff;
  font-size: 2em;
  text-decoration: none;
}
